{% extends 'main.html' %}
{% load static %}

{% block content %} 

<div class='chat_section'>
    <div class='chat_box'>
        <ul id="chat-log" class="messages">
        </ul>
    </div>
    <button style="border-bottom-left-radius: 20px;">Leave</button>
    <textarea id="chat-message-input" name="" id="" cols="30" rows="10"></textarea>
    <button id="chat-message-submit" style='border-bottom-right-radius: 20px;'>Send</button>
</div>

<!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send"> -->
{{ room_name|json_script:"room-name" }}

{% endblock content %}

{% block js %}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data.message_type);
        let message = document.createElement("li")
        message.setAttribute("class", data.message_type);
        message.appendChild(document.createTextNode(data.message));
        document.querySelector('#chat-log').appendChild(message);;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock js %}