{% extends 'main.html' %}
{% load static %}

{% block content %} 

<div class='chat_section'>
    <div class='chat_box'>
        
        <ul id="chat-log" class="messages">
            <li id='user_info' class='user_info'>Waiting for stranger...</li>

            <li id='typing_info' class='hide' style='color: #ccc; display:none'>User Typing...</li>
        </ul>
    </div>
    <button id='leave-chat' name='leave' style="border-bottom-left-radius: 20px;">Leave</button>
    <textarea id="chat-message-input" name="" id="" cols="30" rows="10"></textarea>
    <button id="chat-message-submit" style='border-bottom-right-radius: 20px;'>Send</button>
</div>

<!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send"> -->
{{ room_name|json_script:"room-name" }}

{% endblock content %}

{% block js %}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    // display typing info if user is typing
    let show_typing_info = function(){
        let classname = document.querySelector('#typing_info').className

        if (classname == 'hide'){
            // if typing_info is hidden change class to show
            document.querySelector('#typing_info').className = 'show';
            document.querySelector('#typing_info').style.display = 'block';
            // Set timeout 
            typing_timeout = window.setTimeout(function(){
            document.querySelector('#typing_info').className = 'hide';
            document.querySelector('#typing_info').style.display = 'none';
            }, 1000);

        }else{
            // Clear existiong timeout
            window.clearTimeout(typing_timeout)
            // And set new one
            typing_timeout = window.setTimeout(function(){
            document.querySelector('#typing_info').className = 'hide';
            document.querySelector('#typing_info').style.display = 'none';
            }, 1000);
        }
    }


    let typing_timeout;
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data.message_type);
        if (data.message_type == 'typing'){
            // if message type is typing show typing message
            show_typing_info()
        }else if(data.message_type == 'sender' || data.message_type == 'receiver'){
            console.log('ji');
            // if user send message
            let typing_info = document.querySelector('#typing_info')
            let message = document.createElement("li")
            message.setAttribute("class", data.message_type);
            message.appendChild(document.createTextNode(data.message));
            document.querySelector('#chat-log').appendChild(message);
            // append typing info after new message and set display to none
            typing_info.style.display = 'none'
            document.querySelector('#chat-log').appendChild(typing_info);
        }else if(data.message_type == 'connected_with_stranger'){
            // if connected with stranger change text 
            document.getElementById('user_info').innerHTML = 'Connected with stranger'
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        } else{ // different then enter
            
            chatSocket.send(JSON.stringify({
            'action': 'typing'
        }));
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };


    document.querySelector('#leave-chat').onclick = (e)=>{
        let type = e.target.name;
        
        if(type == 'leave'){
            e.target.name = 'ensure'
            e.target.innerHTML = 'Are you sure?'

        }else if(type == 'ensure'){
            e.target.name = 'connect_new'
            e.target.innerHTML = 'Connect to new stranger'
            // Send websocket that user wants to disconnect with stranger
            chatSocket.send(JSON.stringify({
            'action': 'leave'
            }));

        }else if(type == 'connect_new'){
            e.target.name = 'leave'
            e.target.innerHTML = 'Leave'
            // Send websocket that user wants to connect with user
            chatSocket.send(JSON.stringify({
            'action': 'connect_new'
            }));

        }
    }



</script>
{% endblock js %}