{% extends 'main.html' %}
{% load static %}

{% block content %} 

<div id='users_number'>20 online users</div>
<div class='chat_section'>
    
    <div class='chat_box'>
        
        <ul id="chat-log" class="messages">
            <li id='user_info' class='user_info'>Waiting for stranger...</li>

            <li id='typing_info' class='hide' style='color: #ccc; display:none'>User Typing...</li>
        </ul>
    </div>
    <button id='leave-chat' disabled='true' name='leave' style="border-bottom-left-radius: 20px;">Leave</button>
    <textarea id="chat-message-input" disabled='true' name="" id="" cols="30" rows="10"></textarea>
    <button id="chat-message-submit" disabled='true' style='border-bottom-right-radius: 20px;'>Send</button>
</div>

<!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send"> -->
{{ room_name|json_script:"room-name" }}

{% endblock content %}

{% block js %}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock js %}