body {
    padding: 0;
    margin: 0;
    background-color: #28282A;
    font-family: sans-serif;
    font-size: 15px;
}

.main_section {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chat_section {
    height: 90%;
    width: 800px;
    padding-top: 3%;
    margin: auto;
}

button {
    width: 20%;
    height: 10%;
    background-color: #313335;
    color: #ccc;
    float: left;
    border: 0px;
    cursor: pointer;
}

textarea {
    width: calc(60% - 12px);
    height: calc(10% - 12px);
    padding: 6px;
    background-color: #3b3d40;
    color: #ccc;
    float: left;
    border: 0px;
    resize: none;
}

button:focus,
textarea:focus {
    outline: none;
}

button:hover {
    background-color: #45474A;
    transition: ease-in-out 0.1s;
}


.chat_box {
    width: 800px;
    height: 85%;
    border-radius: 20px 20px 0 0;
    display: flex;
    background-color: #3b3d40;
    margin: auto;
    overflow-y: scroll;
    margin-bottom: 3px;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


.messages {
    padding: 0.5rem;
    width: 100%;
}

.messages>li {
    clear: both;
    max-width: 80%;
    list-style-type: none;
    text-align: left;
    margin: 0.3rem 0 0.3rem 0;
    padding: 0.6rem;
}

.messages>#typing_info {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.receiver {
    float: left;
    background-color: #313335;
    color: white;
    border-radius: 0 10px 10px 10px;
}

.sender {
    float: right;
    background-color: #dead59;
    color: white;
    border-radius: 10px 0 10px 10px;
}