body {
    padding: 0;
    margin: 0;
    background-color: #28282A;
    font-family: sans-serif;
    font-size: 15px;
}

.main_section {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main_section #users_number {
    color: #ccc;
    text-align: right;
    margin-right: 0;
    margin-top: 2vh;
    margin-right: 2vh;
    font-size: 3vh;
}

.chat_section {
    height: 90%;
    max-width: 800px;
    padding-top: 5vh;
    margin: auto;
}

button {
    width: 20%;
    height: 10%;
    background-color: #313335;
    color: #ccc;
    float: left;
    border: 0px;
    cursor: pointer;
}

textarea {
    width: calc(60% - 12px);
    height: calc(10% - 12px);
    padding: 6px;
    background-color: #3b3d40;
    color: #ccc;
    float: left;
    border: 0px;
    resize: none;
}

.chat_section button:focus,
.chat_section textarea:focus {
    outline: none;
}

.chat_section button:hover {
    background-color: #45474A;
    transition: ease-in-out 0.1s;
}


.chat_box {
    max-width: 800px;
    height: 85%;
    border-radius: 20px 20px 0 0;
    display: flex;
    background-color: #3b3d40;
    margin: auto;
    overflow-y: scroll;
    margin-bottom: 3px;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


.messages {
    padding: 0.5rem;
    width: 100%;
}

.messages>li {
    clear: both;
    max-width: 80%;
    list-style-type: none;
    text-align: left;
    margin: 0.3rem 0 0.3rem 0;
    padding: 0.6rem;
}

.messages>#typing_info {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.receiver {
    float: left;
    background-color: #313335;
    color: white;
    border-radius: 0 10px 10px 10px;
}

.sender {
    float: right;
    background-color: #dead59;
    color: white;
    border-radius: 10px 0 10px 10px;
}

.user_info {
    float: left;
    color: #ccc;
    font-size: 22px;
    margin-left: 15px;
    margin-top: 15px;
    width: auto;
}

.start_chat_btn {
    position: absolute;
    font-size: 18px;
    top: calc(50% - 2rem);
    left: calc(50% - 10rem);
    padding: 2rem 4rem;
    border-radius: 20px;
    background-color: #EAEAEB;
    cursor: pointer;
}

.start_chat_btn:hover {
    background-color: #ACACAF;
    transition: ease-in-out 0.1s;
}



/* if screen width is less or equal then 800px */
@media screen and (max-width: 800px) {

    .main_section {
        text-align: center;
    }

    .main_section #users_number {
        color: #ccc;
        text-align: center;
        margin: auto;
        font-size: 3vh;
        margin-top: 2vh;
    }

    .chat_section {
        height: calc(100%-2vh);
        padding-top: 2vh;
    }

    .chat_box {
        height: calc(90% + 12px);
    }

    button {
        font-size: 2vh;
    }


}

/* if screen height is less then 300px */
@media screen and (max-height: 300px) {

    .chat_box {
        height: 80%;
    }

    button {
        height: 20%;
        font-size: 3vh;
    }

    textarea {
        height: calc(20% - 12px);
    }
}