<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <title>Chat</title>
</head>
<body>
    <div class='main_section'>
        <div class='chat_section'>
        <div class='chat_box'>
            <ul class="messages">
                <li class='stranger'>hello</li>
                <li class='you'>hi</li>
            </ul>
        </div>
        <button style="border-bottom-left-radius: 20px;">Leave</button>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button style='border-bottom-right-radius: 20px;'>Send</button>
    </div>
    </div>
</body>
</html>